<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI毕业照</title>
    <style>
        p {
            font-size: 15px;
            text-align: justify;
            text-justify:inter-ideograph;
        }
        body {
            background-image: url(../static/bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script>
        var deviceWidth=$(window).outerWidth();
        if(deviceWidth>640){
            $("html").css("font-size","100px");
        }else{
            $("html").css("font-size",deviceWidth/640*100+'px');
        }
    </script>
</head>
<body>
    <div style="position: absolute; top: 10%; left: 10%; right: 10%; background: white">
        <div style="text-align: center">
            <img id="preview" style="width: 200px">
        </div>
        <form style="margin: 10px" id="form" method="POST" enctype="multipart/form-data" action="/swap" onsubmit="return check();">
            <div style="text-align: center">
                <input type="file" multiple="multiple" accept="image/*" name="file" id="file"/>
            </div>
                <br><br>
                <label style="font-weight: bold">性别：</label>
                <input type="radio" name="sex" value="F"/>男
                <input type="radio" name="sex" value="M"/>女
                <br><br>
                <label style="font-weight: bold">学科：</label>
                <input type="radio" name="major" value="G"/>工学
                <input type="radio" name="major" value="L"/>理学
                <input type="radio" name="major" value="W"/>文学
                <input type="radio" name="major" value="Y"/>医学
                <input type="radio" name="major" value="N"/>农学
                <input type="radio" name="major" value="J"/>军事学

            <br><br>
            <div style="text-align: center">
                <input type="submit" style="width: 80px;" value="提交"/>
            </div>
        </form>
        <div style="text-align: center; margin-top: 10px">
            <a href="/notice">关于网站的一些说明~</a>
        </div>
    </div>
    <script>
        var fileDom = document.getElementById("file");
        var previewDom = document.getElementById("preview");
        fileDom.addEventListener("change", e=>{
            var file = fileDom.files[0];
            // check if moulds contains a valid image file
            if (!file || file.type.indexOf("image/") < 0) {
                fileDom.value = "";
                previewDom.src = "";
                return;
            }

            // use FileReader to load image and show preview of the image
            var fileReader = new FileReader();
            fileReader.onload = e=>{
                previewDom.src = e.target.result;
            };
            fileReader.readAsDataURL(file);
        });

        var formDom = document.getElementById("form");
        function check() {
            var file = fileDom.files[0];
            // check if moulds contains a valid image file
            if (!file || file.type.indexOf("image/") < 0) {
                return false;
            }
            return true;
        }
    </script>
</body>
</html>