<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI毕业照</title>
</head>
<body>
    <body style="text-align: center">
        <div>
            <img id="preview" style="width: 200px">
        </div>
        <form id="form" method="POST" enctype="multipart/form-data" action="/swap" onsubmit="return check();">
            <input type="file" multiple="multiple" accept="image/*" name="file" id="file"/>
            <br>
            <br>
            <input type="radio" name="sex" value="female"/>男
            <input type="radio" name="sex" value="male"/>女
            <br><br>
            <input type="radio" name="major" value="engineering"/>工学
            <input type="radio" name="major" value="science"/>理学
            <input type="radio" name="major" value="arts"/>文学
            <input type="radio" name="major" value="medicine"/>医学
            <input type="radio" name="major" value="agriculture"/>农学
            <input type="radio" name="major" value="military_science"/>军事学
            <br><br>
            <input type="radio" name="degree" value="bachelor"/>学士
            <input type="radio" name="degree" value="master"/>硕士
            <input type="radio" name="degree" value="doctor"/>博士
            <br><br>
            <input type="submit" value="提交"/>
        </form>
        <p style="font-size: 10px">
            PS: 请上传证件照，否则可能会导致换脸失败
            <br>
            若显示错误，请返回并重新上传不遮挡人脸特征的证件照
            <br>
            不要在微信浏览器中打开，微信对IP地址有限制，可能会导致识别失败
        </p>

        <script>
            var fileDom = document.getElementById("file");
            var previewDom = document.getElementById("preview");
            fileDom.addEventListener("change", e=>{
                var file = fileDom.files[0];
                // check if moulds contains a valid image file
                if (!file || file.type.indexOf("image/") < 0) {
                    fileDom.value = "";
                    previewDom.src = "";
                    return;
                }

                // use FileReader to load image and show preview of the image
                var fileReader = new FileReader();
                fileReader.onload = e=>{
                    previewDom.src = e.target.result;
                };
                fileReader.readAsDataURL(file);
            });

            var formDom = document.getElementById("form");
            function check() {
                var file = fileDom.files[0];
                // check if moulds contains a valid image file
                if (!file || file.type.indexOf("image/") < 0) {
                    return false;
                }
                return true;
            }
        </script>
</body>
</html>